section {
	width: 350px;
	height: 1000px;
}

div {
	margin-bottom: 5px ;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;


 }

#div1:hover>span:first-child {
	background-color: red;
}

#div2:hover>span:last-child {
	background-color: green;
}

#div3:hover>span:nth-child(2){
	background-color: blue;
}

#div4:hover>span:nth-child(5){
	background-color: #d030cf;
}

#div5:hover>span:nth-child(odd){
	background-color: yellow;
}
#div6:hover>span:nth-child(even){
	background-color: orange;
}
#div7:hover>span:nth-child(4){
	background-color: pink;
}

#div8:hover>span:nth-child(3n + 2){
	background-color: brown;
}

#div9:hover>span:nth-child(3n + 1){
	background-color:gray;
}
#div10:hover>span:nth-child(n+4){
	background-color:purple;
}
span {
	display:flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
  border: 1px solid black;
  border-radius: 100%;
  box-shadow: 3px 3px 3px rgba(153, 51, 153, 0.5);
	
}